<form id="add">
    FirstName<input type="text" id="firstName" value="Luke" />
    LastName<input type="text" id="lastName" value="Steel" />
    PhoneNumber<input type="text" id="phoneNumber" value="3456" />
    StreetNumber<input type="text" id="streetNumber" value="24" />
    Street<input type="text" id="Street" value="Sueesx" />
    City<input type="text" id="City" value="Ottawa" />
    State<input type="text" id="State" value="Ontario" />
    Country<input type="text" id="Country" value="Canada" />
</form>
<button id="addContactBtn">Add</button>
<button id="updateContactBtn">Update</button>